# Visual Studio and Build Artifacts
.vs/
bin/
obj/
Debug/
Release/
*.exe
*.pdb
*.dll
*.user
*.suo
*.userprefs
*.cachefile
*.log
*.dylib
*.so
*.so.0
*.xnb
ipch/

# MonoGame Specific
CompiledContent/
artifacts/temp-build/runtimes/iossimulator-x64/native/libopenal.dylib
